server:
  run_mode: debug
  http_port: 8080
  read_timeout: 60
  write_timeout: 60

mysql:
  host: localhost
  port: 3306
  user: root
  password: ugchan123456
  dbname: ticktok

redis:
  host: localhost
  port: 6379
  password: ""
  db: 0

minio:
  endpoint: localhost:19000
  access_key_id: minioadmin
  secret_access_key: ugchan123456
  use_ssl: false
  bucket_name: ticktok

etcd:
  endpoints:
    - localhost:2379

kafka:
  brokers:
    - localhost:9092
  chat_topic: chat_msg_topic
  push_group_id: group_push
  store_group_id: group_store
  video_publish_topic: video_publish_events
  video_group_id: group_video_worker

media:
  ffmpeg_path: ffmpeg

jwt:
  secret: ticktok_secret_key
  access_expire: 900 # 15 minutes
  refresh_expire: 604800 # 7 days

user_service:
  port: 10001
content_service:
  port: 10002
message_service:
  port: 10003
chatbot_service:
  port: 10004

microservices:
  user: "localhost:10001"
  content: "localhost:10002"
  message: "localhost:10003"
  chatbot: "localhost:10004"

log_level: debug