apiVersion: v1
kind: Secret
metadata:
  name: infra-secret
  namespace: infra
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "<YOUR_MYSQL_ROOT_PASSWORD>"
  MINIO_ROOT_USER: "<YOUR_MINIO_ROOT_USER>"
  MINIO_ROOT_PASSWORD: "<YOUR_MINIO_ROOT_PASSWORD>"
